* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 400px;
    width: 300px;
}
    
.div5 {
    grid-row-start: 2;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 2;
}

.div8 {
    grid-row-start: 2;
}

.div9 {
    grid-row-start: 3;
}

.div10 {
    grid-row-start: 3;
}

.div11 {
    grid-row-start: 3;
}

.div12 {
    grid-row-start: 3;
}

.div13 {
    grid-row-start: 4;
}

.div14 {
    grid-row-start: 4;
}

.div15 {
    grid-row-start: 4;
}

.div16 {
    grid-row-start: 4;
}
    