* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f4;
}

.main { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #00c6ff, #0072ff); */
    background-color: #F5F5F5;
    background-size: cover;
}

.container {
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.505);
    width: 300px;
    height: 502px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    box-shadow: 
    0 8px 16px rgba(0, 0, 0, 0.4),  
    0 4px 6px rgba(0, 0, 0, 0.3); 
}

.screen {
    background-color: #0e0d0d;
   /* background: linear-gradient(135deg, #3a7bd5, #00d2ff); */
   /* background: linear-gradient(135deg, #232526, #414345); */

    color: #eaeaea;
    height: 120px;
    width: 100%;
    /* margin: 11px 11px 5px 11px; */
    margin-bottom: 5px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 13px;
    font-size: 3.2rem;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.btn {
    height: 3.5rem;
    width: 3.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.num { 
    background-color: #272727;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 500;
}

.ope {
    background-color: #016DE3;
    color: #ffffff;
}

.clear {
    background-color: #D65A5A;
    color: #ffffff;
    width: 7.9rem;
    border-radius: 15px;
}

.equ {
    background-color: #f08221;
    color: #ffffff;
}

.dZero {
    width: 7.9rem;
    border-radius: 17px;
}