* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .count {
        font-size: 3rem;
    }

    .btn {
        height: 5rem;
        width: 6rem;
    }   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count {
    font-size: 4rem;
    margin: 1rem 0;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btn {
    height: 6rem;
    width: 7rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
}

.btn svg {
    width: 2.5rem;
    height: 2.5rem;
}

.btn-inc {
    background-color: white;
}

.btn-dec {
    background-color: white;
}

.btn-ref {
    background-color: #242947;
}

.btn-ref:hover {
    background-color: #1e1e2f;
}